#content{
width:1000px;
float:left;
}
#interaction{

width:250px;
float:left;
padding:10px;
}
#arena{
margin:15px;
width:600px;
height:500px;
float:left;
border-style:solid;
border-width:1px;
}
#debugbox{
float:left;
width:300px;
height:500px;
overflow:scroll;
border-style:solid;
border-width:1px;
}