/*ALLT I LOGIC/GARAGE SCREEN*/

/*
Both logic and garage screen
The divs, their positioning and backgrounds 	
*/

#menuHeader{
	float: left;
	width:30%;
	height:5%;
	background-image: url('menuHeader.png');
}

#tableOfContent{
float: left;
width:30%;
height:65%;
background-image: url('logicTable.png');
}

#outerCanvas{
float: right;
width:70%;
height:70%;
background-image: url('canvas.png');
}

#myCanvas {
background-image: none;
margin-left: 47px;
margin-top: 33px; 
width:87%;
height:87%;
}

#robotInformation{
float:left;
width:30%;
height:30%;
background-image: url('robotInfo.png');
}

#robotInfoTable{
text-align: center;
margin: 0px auto;
}

#robotInfoTable p{
	font-family: "subtitleFont";
	font-size: 14px;
	margin-top: 10px;

}

#robotView{
float:left;
width:30%;
height:30%;
background-image: url('robotInfo.png');
}

#robotView p{
	margin-left: 30px;
	margin-right: 30px;
	font-family: "subtitleFont";
	font-size: 14px;
	margin-top: 10px;
}

#robotView{
float:left;
width:30%;
height:30%;
background-image: url('robotInfo.png');
}

#changeView{
float:left;
width:20%;
height:30%;

}

#toBattle{
	float:left;
	width:20%;
	height:30%;
	
}

/*The menu table with nodes and stuff*/
#tableId{
	padding-top:10px;
	margin: 0px auto;
	position: relative;
	text-align: center;
}

#tableId p{
	font-family: "subtitleFont";
	font-size: 14px;
	margin-top: 10px;

}

/*The menu-header and its inside positioning*/
#menuHeader table{
	width:100%;
	height:100%;
	vertical-align:center;
}

#menuHeaderLeft{
	text-align:left;
	padding-left: 25px;
}

#menuHeaderRight{
	text-align:right;
	padding-right: 25px;
}


/*Textfields*/
.txtFieldClass{
	margin:0px;
	width: 70%;
	height: 40;
	border-radius: 20%;
	border: 1px solid;
	text-align: center;
	font-family: "textFont";
	font-size: 24px;
	opacity: 0.8;  /*CSS3 standard */
	outline: none;
}


/*Settings button*/

#settingButton{
	background:url(settings1.png) no-repeat;
	background-size: 100% 100%;
	cursor:pointer;
    border:none;
	width:20;
    height:20;
	outline: none;
}

#settingButton:hover {
     background:url(settings2.png) no-repeat;
	 background-size: 100% 100%;
}

#settingButton:active {
     background:url(settings3.png) no-repeat;
	 background-size: 100% 100%;
}

#battleButton{
	background:url(battle1.png) no-repeat;
	background-size: 100% 100%;
	cursor:pointer;
    border:none;
	height:150px;
	width:150px;
	outline: none;
	
	position: absolute;
	margin-left: 35px;
	margin-top: 35px;
}

#battleButton:hover {
     background:url(battle2.png) no-repeat;
	 background-size: 100% 100%;
}

#toLogicButton{
	background:url(logic1.png) no-repeat;
	background-size: 100% 100%;
	cursor:pointer;
    border:none;
	height:150px;
	width:150px;
	
	position: absolute;
	margin-left: 40px;
	margin-top: 35px;
	outline: none;
}

#toLogicButton:hover{
     background:url(logic2.png) no-repeat;
	 background-size: 100% 100%;
}

#toGarageButton{
	background:url(garage1.png) no-repeat;
	background-size: 100% 100%;
	cursor:pointer;
    border:none;
	height:150px;
	width:150px;
	outline: none;
	
	position: absolute;
	margin-left: 40px;
	margin-top: 35px;
}

#toGarageButton:hover{
     background:url(garage2.png) no-repeat;
	 background-size: 100% 100%;
}


/*KNAPPAR*/
.toBattle{
font-family:"subtitleFont";
font-weight:bold;
font-size:30px;
background-color:red;
height:100px;
width:100px;
border-radius:50%;
border:solid 3px black;

position: absolute;
margin-left: 55px;
margin-top: 55px;
}

.changeScreen{
font-family:"subtitleFont";
font-weight:bold;
font-size:30px;
background-color:grey;
height:150px;
width:150px;
border-radius:25%;
border:solid 3px black;

position: absolute;
margin-left:60px;
margin-top: 30px;
}

/*Only Garage Screen*/

#chassi, #weapon, #wheels{

width: 100;
height: 100;
border:1px solid black;
background-color: green;
margin-left: 20;
margin-top: 30;
margin-bottom: 20;
box-shadow: 5px 5px 20px black;
float:left;
}

.chassi, .weapon, .wheels{

width:100;
height:20;
background-color:blue;
margin-top:5px;
border: 1px solid black;
position: relative;

}

#robot3D{
width: 450;
height:404;
border:1px solid black;
margin-right: 20;
margin-top: 30;
box-shadow: 5px 5px 20px black;
float: right;
}





