/*ALLT I HEADER*/
header{	
height:50px;
width:100%;
margin:0px auto;
background-color:blue;
}

/*BODY*/
html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
	font-family: textFont;
}

#container{
	background-image: url('bg1.gif');
	height: 100%;
}

#frame{
 display: block;
 position:relative;
 border: 3px solid;
 margin: 0px auto;
}

/*ALLT I LOGIN SCREEN*/

#loginBox{
width:500;
height:300;
margin: 0px auto;
text-align:center;
background-image: url('loginBox.png');
}

.design1{ 
 background-color:#fffff;
 border:1px solid black; 
 padding:3px; 
 margin: 5px; 
}

/*ALLT I LOGIC/GARAGE SCREEN*/


#menuHeader{
float: left;
width:30%;
height:5%;
background-image: url('menuHeader.png');
}



#tableOfContent{
margin: 0px auto;
float: left;
width:30%;
height:65%;
background-image: url('logicTable.png');
text-align: center;
}

#tableId{
	margin: 0px auto;
	position: relative;
}

#myCanvas {
float: right;
width:70%;
height:70%;
background-image: url('canvas.png');
}

#chassi, #weapon, #wheels{

width: 100;
height: 100;
border:1px solid black;
background-color: green;
margin-left: 50;
margin-top: 53;
box-shadow: 5px 5px 20px black;
float:left;
}

.chassi, .weapon, .wheels{

width:100;
height:20;
background-color:blue;
margin-top:5px;
border: 1px solid black;
position: relative;

}

#robot3D{
width: 459;
height:409;
border:1px solid black;
background-color: green;
margin-right: 50;
margin-top: 53;
box-shadow: 5px 5px 20px black;
float: right;
}

#robotInformation{
float:left;
width:30%;
height:30%;
background-image: url('robotInfo.png');
}

#robotView{
float:left;
width:30%;
height:30%;
background-image: url('robotInfo.png');
}

#changeView{
float:left;
width:20%;
height:30%;
}

#toBattle{
float:left;
width:20%;
height:30%;
}

/*ALLT I CONNECTION SCREEN*/
#leftRobotView{
float:left;
width:50%;
height:60%;
background-color:red;
}

#rightRobotView{
float:right;
width:50%;
height:60%;
background-color:orange;
}

#leftRobotInfo{
float:left;
width:35%;
height:40%;
background-color:blue;
}

#connectionInfo{
float:left;
width:30%;
height:40%;
background-color:green;
}

#rightRobotInfo{
float:right;
width:35%;
height:40%;
background-color:cyan;
}

/*ALLT I BATTLE SCREEN*/
#battleScreen{
width:100%;
height:70%;
background-color:cyan;
}

#nodeMap{
float:left;
width:25%;
height:30%;
background-color:blue;
}

#robotInfo{
float:left;
width:50%;
height:30%;
background-color:red;
}

#miniMap{
float:right;
width:25%;
height:30%;
background-color:yellow;
}


/*SETTINGS POPUP*/
.popup {
      background-image: url('popup.png');
      height: 400; 
	  width: 300;
      position: absolute; 
	  margin-left: 362;
	  margin-top: 100;
	  visibility: hidden;
      z-index: 3;
	  text-align: center;
}
.popup_bg {
      position: absolute;
      visibility: hidden;
      height: 100%; width: 100%;
      left: 0px; top: 0px;
      filter: alpha(opacity=70); /* for IE */
      opacity: 0.7; /* CSS3 standard */
      background-color: #000000;
      z-index: 2;
}


/*KNAPPAR*/
.toBattle{
float:left;
font-family:"subtitleFont";
font-weight:bold;
font-size:30px;
background-color:red;
height:100px;
width:100px;
border-radius:50%;
border:solid 3px black;
}

.changeScreen{
float:left;	
font-family:"subtitleFont";
font-weight:bold;
font-size:30px;
background-color:grey;
height:150px;
width:150px;
border-radius:25%;
border:solid 3px black;
}

.weaponButton{
width:100px;
font-size:16px;
background-color: #771d17;
color: white;
font-family: textFont;
border-radius:25%;
border:solid 1px black;
}


.logicButton{
width:100px;
font-size:16px;
background-color: #381c46;
color: white;
font-family: textFont;
border-radius:50%;
border:solid 1px black;
margin: 0 auto;
}


/*FONTER*/

@font-face {
    font-family: textFont; /*a name to be used later*/
    src: URL('../fonts/AkronSans.ttf'); /*URL to font*/
}

@font-face {
    font-family: subtitleFont; /*a name to be used later*/
    src: URL('../fonts/AkronSmallcaps.ttf'); /*URL to font*/
}

h2{
  font-family: "subtitleFont";
}
