.weaponNode{
position:absolute;
	border:solid 1px;
	width:100px;
	height:50px;
	border-radius:15px;
	background:#FF7B78;
	text-align:center;
	vertical-align:middle;
}

.logicNode{
position:absolute;
	border:solid 1px;
	width:50px;
	height:50px;
	border-radius:50%;
	background:pink;
	text-align:center;
	vertical-align:middle;
}

.sensorNode{
position:absolute;
	border:solid 1px;
	width:70px;
	height:40px;
	border-radius:20%;
	background:purple;
	text-align:center;
	vertical-align:middle;
}